@font-face {
    font-family: 'MH-font';
    src: 
    url('../font/Monserhunterfonts4type-Regular.otf')
    format('woff');
}

.wf-nav{
    font-family:'MH-font';
    color: white;
}

.re{
    font-family:'MH-font';
    color: red;
}

body {
	background-color:#0c0f14;
    /* background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"%3E%3Cg fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath opacity=".5" d="M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z"/%3E%3Cpath d="M6 5V0H5v5H0v1h5v94h1V6h94V5H6z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E'); */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}



.container{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 5000px;
}

.header-box{
    display: flex;/*New*/
    flex-direction: column;/*New*/
    margin-right:auto;
    margin-left:auto;
    width: 100%;
    height: 140px;
    background-color:#333/* rgb(245, 181, 128)*/; 
    /* position: fixed; */
}

.header-top-box{
    display: flex;
    flex: 2;/*New*元100px*/
    /* background-color: blanchedalmond; */
}

.header-left{
    padding-left:100px;
    padding-top:40px;
    flex:1;
}   


.header-right{
    flex:3;
    padding-right:50px;
    padding-top: 50px;;
}

.nav-wrapper {
    display: flex;
    padding-left:50px;
    margin-top:20px;
    list-style: none;
}

.nav-wrapper li{/*navigation-幅指定*/
    padding-left:75px;
}

.nav-wrapper a{
    display: inline;
    font-size: 35px;
    list-style-type:none;
    text-decoration:none;
}

.nav-wrapper a:hover{
    color:aquamarine;
   
}

.en-design{
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    padding:10px;
}

/* new */

.main{
    justify-content:center ;
    height: 500px;
    display: flex;
}

.left-box{
    border-radius: 20px black;
    flex:2;
    height: 500px;
}

.main-box{
    z-index: 222;
    background: rgb(253, 253, 253);
    flex:4;
    height: 2000px;
}

.right-box{
    flex:2;
}

.data-container{
    background: rgb(214, 200, 200);
    display: flex;
    margin-bottom: 5px;
    border:solid;
    border-radius:5px #333;
}

.con-left{
    flex:1;
}

.con-right{
    flex:2;
}

.con-right > h2{
    width: 100px; 
}

.con-right > label{
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}