@font-face {
    font-family: 'MH-font';
    src: 
    url('../font/Monserhunterfonts4type-Regular.otf')
    format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');

.wf-nav{
    font-family:'MH-font';
    color: white;
}

.re{
    font-family:'MH-font';
    color: red;
}

.wf-en{
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
}



body {
    /* background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"%3E%3Cg fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath opacity=".5" d="M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z"/%3E%3Cpath d="M6 5V0H5v5H0v1h5v94h1V6h94V5H6z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E'); */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	margin: -20px 0 50px;
    background: #1f222b;
}



.container{
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    height:6250px;
}

.header-box{
    display: flex;/*New*/
    flex-direction: column;/*New*/
    margin-right:auto;
    margin-left:auto;
    width: 100%;
    height: 140px;
    background-color:#333/* rgb(245, 181, 128)*/; 
    /* position: fixed; */
}

.header-top-box{
    display: flex;
    flex: 2;/*New*元100px*/
    /* background-color: blanchedalmond; */
}

.header-left{
    padding-left:100px;
    padding-top:40px;
    flex:1;
}   


.header-right{
    flex:3;
    padding-right:50px;
    padding-top: 50px;;
}

.nav-wrapper {
    display: flex;
    padding-left:50px;
    margin-top:20px;
    list-style: none;
}

.nav-wrapper li{/*navigation-幅指定*/
    padding-left:75px;
}

.nav-wrapper a{
    display: inline;
    max-width: 1500px;
    font-size: 30px;
    list-style-type:none;
    text-decoration:none;
}

.nav-wrapper a:hover{
    color:aquamarine;
   
}

.back-image{
    position:absolute;
    height: 435px;
    /* background-image:url("img/bbc.png"); */
    background-repeat: no-repeat;
}

.back-image > img {
    width: 100%;
}

main{
    height:1000px;
    display: flex;
}

.center-left{
    flex:1;
    /* background:#0c0f14; */
    margin:0;

}

.CL-box{
    position: relative;
    top:100px;
    left:180px;
    background: #0f1115;
    box-shadow: 0 0 20px gray;
    color:rgb(250, 250, 250);
    width: 800px;
    height:max-content;
    margin-left:auto; 
    /* top:50px; left:100px; */
    /* z-index: 9999; */
}
  

.center-right{
    flex: 1;

}

.CR-box{
    /* background: rgb(139, 39, 39); */
    width: 100%;
    height:max-content;
}

.h1z{
    text-align: left;
    background: #0f1115;
    color:#fed30f;
    line-height: 70px;
    font-size: 25px;
    /* text-align: center; */
    font-family: 'Roboto', sans-serif;
    padding-left:100px;
    margin:0;
}
 
.rank-wrapper{
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
    font-size: 20px;
    border: none;
}

table{
    /* border: none; */
    border-spacing:0px;
    font-family: 'Roboto', sans-serif;
}

.rank-nav{
    background:#333640;
    border-spacing:0px;
    font-size: 20px;
}

th{
    /* width: 100%; */
    color:#fff;
    height: 40px;
    background:#333640;
}

.th-1{
    width: 115px;
    padding-left:20px;
    text-align: left;
}

.fil-nav{
    padding-top: 0;
    background:#333640;
    border-spacing:0px;
    font-size: 20px;
}

.shth{
    position: relative;
    color:#fff;
    padding:10px 0;
    background: #333640;
    padding-left:40px;
    text-align: left;
    font-size: 22px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    height: 50px;
}


.th-2{
    width: 312px;
    padding-left:20px;
    text-align: left;
}

.th-3{
    width: 278px;
    text-align: center;
}

.th-4{
    width: 282px;
    text-align: right;
    padding-right: 30px;
}

/*115 312 278 282*/
.over4 {
    font-size: 50px ;
    /* color:#fed30f; */
    content: "#";
}

.td-1-1{
    width: 115px;
    padding-left:30px;
    text-align: left;
}


.td-1::before{
    font-size:20px ;
    vertical-align:top;
    color:#fed30f;
    content: "#";
}

.td-1{
    font-size: 35px;
    color:#fed30f;
    width: 115px;
    padding-left:20px;
    text-align: left;
}

.td-2{
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    width: 312px;
    height: 70px;
    padding-left:20px;
    text-align: left;
}

.td-3{
    width: 378px;
    text-align: center;
}

.td-4{
    width: 100px;
    text-align: right;
    padding-right: 30px;
}

.no1{
    /* color:#fed30f; */
    font-size: 30px;
    border: none;
}

.over4{
    font-size: 20px;
    border: none;
}

.first-td{
    background: #1f222b;
}

.second-td{
    background: #262932;
}

.weaponImage{
    max-width: 47px;
    height: auto;
}

/*searchBox*/

.box{
    z-index: 1;
    position: fixed;
    top:14%;
    right:48%;
    /* transform: translate(-50%,-50%); */
}
.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}

.box:hover input{
    width: 350px;
    background: #272133;
    border-radius: 10px;
}
i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  box-shadow: 0 0 20px gray;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  left:43%;
  top:7%;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*その他と主な共通部分は省略*/

a.btn-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
  z-index: 1;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: calc(-150% + 50px);

  width: 150%;
  height: 500%;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(45deg) translateX(0) translateY(0);
  transform: rotate(45deg) translateX(0) translateY(0);
  background: #fff100;
}

a.btn-flat:after {
  position: absolute;
  top: -400%;
  right: calc(-150% + 50px);

  width: 150%;
  height: 500%;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(45deg) translateX(0) translateY(0);
  transform: rotate(45deg) translateX(0) translateY(0);
  background: #fff100;
}

a.btn-flat:hover:before {
  -webkit-transform: rotate(45deg) translateX(0) translateY(-50%);
  transform: rotate(45deg) translateX(0) translateY(-50%);
}

a.btn-flat:hover:after {
  -webkit-transform: rotate(45deg) translateX(0) translateY(50%);
  transform: rotate(45deg) translateX(0) translateY(50%);
}

.filterSerch{
    position: relative;
    top:100px;  
    left:30%;
    width: 500px;
    height: 900px;
    background: #0f1115;
    box-shadow: 0 0 20px gray;
}

.filterSerch > p{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family:'M PLUS Rounded 1c', sans-serif !important;
    font-size: 25px;
    
}

/*SELECTFILTER*/

.selectdiv {
  position: relative;
  top:18px;
  /* bottom:30px; */
  left:120px;
  float: left;
  min-width: 250px;
  /* margin: 50px; */
}

.selectdivWrapper{
    height: 90px;
    background: #0f1115;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: rgb(255, 255, 255);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: rgb(255, 255, 255);
  background-color: #40434b;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

/* .fil-nav{
    height: 200px;
} */